<p id="notice"><%= notice %></p>
<table class="table">
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.body %></td>
        <td><%= link_to "Delete", entry_path(entry), method: :delete, html_options: {class: "btn btn-default btn-primary"} %></td>
      </tr>
    <% end %>

    <%= form_for(@entry, :html => {:class => "form-horizontal center"}) do |f| %>
      <% if @entry.errors.any? %>
        <tr>
          <td>
            <div id="error_explanation">
              <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

              <ul>
              <% @entry.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <div class="field">
            <%= f.text_field :body, size: 50, class: "form-control", value: "I am grateful for " %>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
